div.sized {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
}

div#logo {
    margin-top: 20px;
}

div#logo img{
    margin-left: 5px;
}

div#topNavContainer{ 
    background: #D3D3D3;
    margin-top: 5px;
    height: 20px;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}


div#topNav {
    margin-left: 5px;
    font-size: 12px;
    word-spacing: 12px;
    float: left;
}

div#help{
    font-size: 12px;
    float: right; 
    margin-right: 25px;
    padding-top: 2px;

}

#mainContent {
    background-color: white;
    overflow: hidden;


}

h2.contentListTitle {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: normal;
}

div#leftColumn{
    padding-bottom: 4px;
    float: left;
    width: 170px;
}

div#centerContent{
    width: 822px;
    float: left;
    padding: 0px 7px 7px;
    overflow: hidden;

}
#chapter{
    font-size: 17px;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 20px;
    
}

div.box p{
    margin-top: 0px;
    font-size: 14px;
}
div.box img{
    float: left;
    margin-right: 20px;
}
#leftColumn a{
    display: block;
    color: #404040;
    word-spacing: 2px;
    font-size: 13px;
}
a:nth-child(2) {
    float:right;
}
.greenText {
    color: #8AC007;

}

hr{
    background-color: #D4D4D4;
    color: #D4D4D4;
    height: 1px;
    border: 0px none;
    clear: both;
}

body{
    background: #F1F1F1;
    font-size: 14px;
    font-family: verdana,helvetica,arial,sans-serif;
    color: #555;
}
